// Fonts
$font-default: Conv_CLEANVEL, PTSans, Calibri, Ubuntu, Tahoma, LucidaGrande;
$font-bold: Conv_CLEANVEB;

//Color
$black: #333333;
$opacity_black: rgba(0,0,0,0.75);
$grey: #eeeeee;
$white: #ffffff;
$opacity_white: rgba(255, 255, 255, 0.8);
$error: #ff7c3a;
$blue: #337ab7;

$bootstrap-grey: #a9a9a9;