//Global
* {
    padding: 0;
    margin: 0;
}
body, html {
    height: 100vh;
    width: 100%;
    font-family: $font-default;
    line-height: 1.5;
    font-size: 16px;
}
.h1, .h2, .h3 {
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
}
h1, .h1, h2, .h2, h3, .h3 {
    text-align: center;
    cursor: default;
}
a {
    color: $black;
}
a:hover {
    color: $black;
    text-decoration: none;
}
p {

    &.center {
        text-align: center;
    }
    
    &.left {
        text-align: left;
    }

    &.right {
        text-align: right;
    }
    
    &.justify {
        text-align: justify;
    }

}
.btn {

    font-size: 18px;
    @include border-radius(0);
    padding: 2px 10px;

    &.btn-text {
        background: none;
        border-bottom: 1px dashed $black;
        padding: 0 10px;
        margin: 0 10px 0;

        &.active {
            border: 1px dashed $black;
            @include box-shadow(none);
        }
    }
}

.alert-browser {
    width: 90%;
    max-width: 600px;
    margin: 50px auto;

    p {
        margin: 0 0 20px;
    }

    ul {
        list-style: none;
        padding: 0 0 0 20px;
    }
}

.easy-checkbox {

    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    padding: 0 20px 20px 0;
    width: 50%;

    .easy-checkbox-icon {
        
        display: inline-block;
        vertical-align: middle;
        width: 32px;
        height: 32px;
        border: 1px solid $black;
        text-align: center;
        line-height: 2;
        @include border-radius(5px);

        &.radio {
            // border: 2px solid $black;
            @include border-radius(50%);
        }

    }

    .easy-checkbox-label {
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        padding: 0 0 0 48px;
        margin: 0 0 0 -32px;
    }

    input {
        display: none !important;
    }

    span {
        display: none;
    }

    &.checked {

        span {
            display: inherit;
        }
    }

    &.disabled {        
        cursor: default;
        opacity: 0.2;
    }

    &:hover {
        .easy-checkbox-icon {
            background: $grey;
        }
    }
}

.row {
    
    & > div {

        &.align-right {
            text-align: right;
        }

        &.align-center {
            text-align: center;
        }

        &.align-justify {
            text-align: justify;
        }
    }
}

.easy-radio {
    
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    padding: 0 20px 20px 0;
    width: 50%;

    .easy-radio-icon {
        
        display: inline-block;
        vertical-align: middle;
        width: 32px;
        height: 32px;
        border: 2px solid $black;
        text-align: center;
        padding: 5px 0;
        @include border-radius(50%);

    }

    .easy-radio-label {        
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        padding: 0 0 0 48px;
        margin: 0 0 0 -32px;
    }

    input {
        display: none;
    }

    span {
        background: $black;
        width: 16px;
        height: 16px;
        display: inline-block;
        @include border-radius(50%);
        display: none;
    }

    &.checked {

        span {
            display: inline-block;
        }
    }

    &:hover {
        .easy-radio-icon {
            background: $grey;
        }
    }
}

.input-select {

    position: relative;

    input {
        width: 100%;
        padding: 10px 10px 9px;
        font-size: 18px;
        height: 50px;
    }

    .clean {
        position: absolute;
        top: 0;
        right: 0;
        background: none;
        border: none;
        width: 50px;
        height: 50px;
        opacity: 0.2;
    }

    &:hover {
        .clean {
            opacity: 1;
        }
    }

    ul {
        position: absolute;
        left: 0;
        top: 49px;
        display: block;
        margin: 0;
        padding: 0;
        z-index: 99;
        list-style: none;
        background: $white;
        width: 100%;
        border: 1px solid $bootstrap-grey;
        overflow: auto;
        max-height: 340px;

        li {
            padding: 5px 10px;
            cursor: pointer;

            &:hover {
                background: $grey;
            }
        }

        &.close {
            max-height: 0;
            border: none;
        }
    }
}


//Welcome
.welcome {
    
    padding: 150px 0;
    max-width: 600px;
    margin: 0 auto;
    font-size: 16px;
    position: relative;
    @include user-select(none);

    h3,
    .h3 {
        font-weight: 700;
    }

    .actions {
        
        margin: 0;
        position: fixed;
        top: 20px;
        right: 20px;
        text-align: center;

        button.btn-text {
            
            margin: 0 10px 0 0;

            &:last-child {
                margin: 0;
            }

        }
    }

    &.form {
        
        padding: 80px 0;

        h1 {
            margin: 80px 0 0;
        }

        &.start {
            padding: 0 40px 92px;

            h1 {
                margin: 20px 0 0;
            }

            .alert {
                margin: 20px auto;
            }
        }
    }

    .form {
        
        margin: 60px 0;

        .row {
            margin: 10px 0 0;
        }

        input[type="text"],
        input[type="password"] {
            width: 100%;
            padding: 0 5px;
        }

        input[type="checkbox"] {
            margin: 0 10px 0 0;
            height: 16px;
            width: 16px;
            display: inline-block;
            vertical-align: middle;
            position: relative;
        }

        select {
            width: 100%;
            padding: 5px 10px;
        }

        .input-validator {
            font-size: 15px;
            display: block;
            text-transform: lowercase;
            color: $error;
        }

        button {
            float: right;
        }

    }

    .alert {
        margin: 60px 0;
    }

    .checkbox {
        
        .alert {
            
            display: inline-block;
            margin: 0px 0;
            padding: 0px 10px;
            font-size: 14px;
            font-weight: 400;

        }
        
    }

    .tests-list {

        .row {

            margin: 10px 0 40px;
            cursor: pointer;
            padding: 10px;
            @include box-sizing(border-box);

            .col-sm-3,
            .col-sm-9 {
                font-size: 20px;
            }

            .col-sm-12 {
                font-size: 16px;
                padding: 10px 0;
            }

            &:hover {
                background: $grey;
            }
        }
    }

    &.test-item {

        max-width: 100%;
        padding: 80px 40px 92px;
        @include box-sizing(border-box);

        .alert {
            text-align: justify;
            max-width: 900px;
            margin: 60px auto;
        }

        .btn-group {
            
            display: block;
            text-align: right;
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 20px;
            background: $white;
            border-top: 1px dashed $black;
    
            button {
                float: none;
                margin: 0 0 0 10px !important;
            }
        }

    }

    .elements-content {

        .btn-turn {

            width: 50%;
            padding: 10px;
            margin: 40px 0 0 0;

        }

        .alert {
            max-width: 600px;
        }

        h2 {
            max-width: 600px;
            margin: 40px auto;
            font-size: 25px;
        }

        .element-item-setting {

            margin: 40px 0;
        }

        .table-container {
            
            overflow-x: auto;

            table {
                
                width: 100%;

                td {
                    //padding: 10px;
                    //border: 1px solid $black;
                    position: relative;

                    &.row-item {
                        min-width: 400px;
                    }

                    .easy-checkbox {
                        padding: 0;
                    }
                }
                
            }

        }

        select {
            width: 100%;
            padding: 5px 10px;
        }

    }

    .image-item {
        display: inline-block;
        padding: 0 10px 10px 0;
        width: 25%;
        @include box-sizing(border-box);

        img {
            width: 100%;
        }

        &.col-2 { width: 25%; }
        &.col-3 { width: 25%; }
        &.col-4 { width: 25%; }
        &.col-5 { width: 20%; }
        &.col-6 { width: 25%; }
        &.col-7 { width: 25%; }
        &.col-8 { width: 25%; }
        &.col-9 { width: 25%; }
        &.col-10 { width: 20%; }

        button {
            border: none;
        }
    }
}

#imageGalleryModal {

    .modal-dialog {
        width: calc(100vw - 100px);
    }

    .modal-body {
        padding: 0;
    }

    .close {
        position: absolute;
        top: 10px;
        right: 20px;
        font-size: 32px;
    }

    .prev {
        position: absolute;
        top: 0;
        left: 0;
        width: 100px;
        height: 100%;
        background: rgba(255,255,255,1);
        background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 49%, rgba(255,255,255,0) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(49%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,0)));
        background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 49%, rgba(255,255,255,0) 100%);
        background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 49%, rgba(255,255,255,0) 100%);
        background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 49%, rgba(255,255,255,0) 100%);
        background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 49%, rgba(255,255,255,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
        border: none;
        opacity: 0;

        &:hover {
            opacity: .25;
        }
    }

    .next {
        position: absolute;
        top: 0;
        right: 0;
        width: 100px;
        height: 100%;
        background: rgba(255,255,255,0);
        background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 49%, rgba(255,255,255,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(49%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
        background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 49%, rgba(255,255,255,1) 100%);
        background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 49%, rgba(255,255,255,1) 100%);
        background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 49%, rgba(255,255,255,1) 100%);
        background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 49%, rgba(255,255,255,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
        border: none;
        opacity: 0;

        &:hover {
            opacity: .25;
        }
    }
}

#answerSelectorWindow {
    .modal-dialog {
        width: calc(100vw - 100px);
    }
}

//Manager
.manager {

    &.container {
        width: 100%;
        padding: 0px;

        .content {
            max-width: 900px;
            margin: 0 auto;
        }
    }

    .manager-menu {

        .logo {

            display: inline-block;
            vertical-align: top;
            padding: 10px;
            width: 300px;
            margin: 0 -300px 0 0;
            position: relative;
            z-index: 2;
            cursor: pointer;
            @include box-sizing(border-box);

            .h1, .h2, .h3 {
                margin: 0;
                font-size: 18px;
                line-height: 1.2;
                cursor: pointer;
            }

            .h2 {
                font-size: 24px;
            }

            .h3 {
                font-weight: 700;
            }
        }
        
        .menu-content {

            display: inline-block;
            vertical-align: top;
            padding: 10px 10px 10px 310px;
            width: 100%;
            position: relative;
            z-index: 1;
            text-align: right;
            @include box-sizing(border-box);

            ul {

                list-style: none;
                font-size: 18px;
                margin: 15px 20px 0 0;

                a {
                    display: block;
                    padding: 5px 20px;
                    cursor: pointer;
                }

                &.menu {

                    li {
                        display: inline-block;
                        vertical-align: top;
                        position: relative;
                    }

                    li:hover {
                        
                        .sub-menu {
                            
                            height: auto;
                            padding: 10px 0 20px;
                            border: 1px solid $grey;
                            border-top: none;
        
                        }

                    }

                }

                &.sub-menu {

                    position: absolute;
                    margin: 0;
                    background: $white;
                    line-height: 2;
                    overflow: hidden;
                    height: 0;
                    text-align: left;
                }
            }

        }
    }

    .btn-add {
        
        font-size: 20px;
        padding: 5px 20px;
        position: fixed;
        bottom: 40px;
        right: 40px;
        
    }

    .tab {

        margin: 40px 0 0 40px;

        ul {
            
            margin: 0;

            li {
                display: inline-block;
            }

        }

        .btn-tab {

            background: $white;
            border-bottom: 1px solid $black;
            margin: 0 0 0 5px;

            &.active {

                background: $black;
                color: $white;

            }

        }

    }

    .tab-item {

        padding: 40px;
        @include box-sizing(border-box);

        .row {
            margin: 5px 0;
        }
    
        input[type="text"],
        input[type="password"] {
            padding: 2px 10px;
            width: 100%;
            @include box-sizing(border-box);
            border: 1px solid $gray;
        }

        input[type="checkbox"] {
            margin: 0 10px 0 0;
            height: 16px;
            width: 16px;
            display: inline-block;
            vertical-align: middle;
            position: relative;
        }
    
        textarea {
            width: 100%;
            height: 60px;
            padding: 5px 10px;
            resize: none;
            border: 1px solid $gray;
        }
    
        select {
            width: 100%;
            padding: 5px 10px;
        }
    
        .input-validator {
            font-size: 15px;
            display: block;
            text-transform: lowercase;
            color: $error;
        }
    
        .alert {
            margin: 20px 0;
        }

        .btn-group {
            
            margin: 40px 0;

            button {

                margin: 0 10px 0 0;

            }
        }

    }

    .elements {

        .element-item {

            margin: 0 auto 40px;
            background: $grey;
            border: 1px solid $black;

            hr {
                
                border-color: $blue;
                margin: 1px 40px 20px;
                
            }

            .element-header {

                color: #fff;
                background: $black;
                @include box-sizing(border-box);

                h2 {

                    font-size: 18px;
                    margin: 0;
                    padding: 0;
                    text-align: left;
                    line-height: 2;
                    padding: 3px 20px 2px;
                    display: inline-block;
                }

                button {

                    background: none;
                    border: none;
                    color: #fff;
                    float: right;
                    font-size: 16px;
                    width: 41px;
                    height: 41px;
                    text-align: center;
                    padding: 1px 0 0;

                }

                .type-icon {
                    margin: 0 0 0 20px;
                }

            }

            .element-data {

                padding: 20px;
                @include box-sizing(border-box);

                .checkbox {

                    margin: 0;
                    
                    .alert {
                        
                        display: inline-block;
                        padding: 0px 10px;
                        margin: 0;
                        font-size: 14px;
                        font-weight: 400;
            
                    }
                    
                }

            }

            .element-footer {

                margin: 0;
                padding: 0 20px 20px;
                text-align: right;
                width: 100%;
                @include box-sizing(border-box);

                button {

                    float: none;

                }

            }

            .element-setting-button {

                text-align: right;
                display: block;

                button {
                    float: none;
                    margin: 0 40px 20px 0;
                }
            }

            .element-setting {

                padding: 0 20px 20px;
                @include box-sizing(border-box);

                & > div > .row {
                    margin: 0 0 20px;
                }

                .clearfix {

                    padding: 0;

                    label {
                        line-height: 2;
                    }
                }

                .table-container {

                    overflow-x: auto;

                    table {
                        
                        width: 100%;

                        td {
                            min-width: 100px;
                            position: relative;

                            &.row-item {
                                min-width: 400px;
                            }

                            button {                                
                                position: absolute;
                                top: 1px;
                                right: 1px;
                                padding: 6px 7px 1px;
                                border: none;
                                opacity: 0;        
                            }

                            &:hover {                                
                                button {                                    
                                    opacity: .75;            
                                }
                            }

                            &.element-table {

                                border: 1px solid $black;

                                input {
                                    border: none;
                                }

                                textarea {
                                    border: none;
                                }
                            }
                        }
                        
                    }

                    input {
                        border: none;
                        padding: 4px 42px 4px 10px !important;
                    }

                }

                .file-item {
                    width: 100px;
                    height: 100px;
                    display: inline-block;
                    margin: 0 5px 5px 0;
                    border: 1px solid $gray;
                    position: relative;

                    img {
                        width: 100%;
                        height: auto;
                    }

                    button {
                        background: none;
                        border: none;
                        color: $white;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        font-size: 18px;
                        padding: 0;
                        width: 24px;
                        height: 24px;
                        line-height: 1;
                        text-align: center;
                        margin: -12px 0 0 -12px;
                        text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
                        opacity: 0;
                    }

                    &.delete {
                        
                        img {
                            opacity: .1;
                        }

                        button {
                            opacity: 1;
                        }
                    }

                    &:hover {
                        button {
                            opacity: 1;
                        }
                    }
                }

                .add-file {
                    width: 100px;
                    height: 100px;
                    background: none;
                    border: 1px solid $gray;
                }

                .files {
                    display: none;
                }
            }
        }

    }

    .results {

        .row {

            background: $grey;
            padding: 10px 0;

            label {
                padding: 0;
                margin: 0;
            }

            &.without-back {
                background: none;
            }
        }

        h3 {
            text-align: left;

            button {
                float: right;
            }
        }

        .element-item {
            margin: 40px 0 40px;
        }

        .actions {
            text-align: right;
            padding: 20px 0;
        }

        .table-container {            
            overflow-x: auto;

            table {                
                width: 100%;

                td {
                    //padding: 10px;
                    //border: 1px solid $black;
                    position: relative;

                    &.row-item {
                        width: 400px;
                    }
                }
                
            }

            .row {
                background: $grey;
                padding: 2px 0;
            }

        }

        .percent-graf {
            width: 100%;
            height: 10px;
            background: $grey;
            margin: 20px 0 10px;
            position: relative;

            div {
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: $blue;
            }
        }
    }
}

//Datatable
.datatable {
    
    padding: 0 40px;
    margin: 40px 0 0;
    @include box-sizing(border-box);

    .row {

        margin: 0;

        .col-xs-12 {

            padding: 0;
            text-align: right;
    
            .form-inline {
                padding: 0;
            }
        }

    }

    .form-control {

        -webkit-border-radius: 0;
        -moz-border-radius: 0;
         -ms-border-radius: 0;
             border-radius: 0;

    }

    .table-above {

        margin: 0 0 20px;

    }

    .table-below {

        margin: 20px 0 0;

        button {
            height: 34px;
        }

    }

    tr {
        td {
            &:last-child {
                width: 195px;
            }
            .btn {
                font-size: 14px;
            }
        }
    }
}

//Modal
.modal {

    .row {
        margin: 5px 0;
    }

    input[type="text"],
    input[type="password"] {
        padding: 2px 10px;
        width: 100%;
        @include box-sizing(border-box);
    }

    input[type="checkbox"] {
        margin: 0 10px 0 0;
        height: 16px;
        width: 16px;
        display: inline-block;
        vertical-align: middle;
        position: relative;
    }

    textarea {
        width: 100%;
        height: 84px;
        padding: 5px 10px;
        resize: none;
    }

    select {
        width: 100%;
        padding: 5px 10px;
    }

    .input-validator {
        font-size: 15px;
        display: block;
        text-transform: lowercase;
        color: $error;
    }

    .alert {
        margin: 20px 0;
    }

    .checkbox {
        
        .alert {
            
            display: inline-block;
            margin: 0px 0;
            padding: 0px 10px;
            font-size: 14px;
            font-weight: 400;

        }
        
    }

}

//Loader
.loader {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: $opacity_white;
    z-index: 9999;

    .progress-container {
        left: 50%;
        top: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
    }
    
    .progress {
        background-color: #eeeeee;
        height: 0.25em;
        position: relative;
        width: 23em;
    }

    .progress-bar {
        background-size: 23em 0.25em;
        height: 100%;
        position: relative;
        background-image: linear-gradient(to right, $black, $black, $black, $black, $black, $black);
            background-image: -o-linear-gradient(to right, $black, $black, $black, $black, $black, $black);
            background-image: -ms-linear-gradient(to right, $black, $black, $black, $black, $black, $black);
            background-image: -webkit-linear-gradient(to right, $black, $black, $black, $black, $black, $black);
            background-image: -moz-linear-gradient(to right, $black, $black, $black, $black, $black, $black);
        animation: cssload-width 3.45s cubic-bezier(0.45, 0, 1, 1) infinite;
            -o-animation: cssload-width 3.45s cubic-bezier(0.45, 0, 1, 1) infinite;
            -ms-animation: cssload-width 3.45s cubic-bezier(0.45, 0, 1, 1) infinite;
            -webkit-animation: cssload-width 3.45s cubic-bezier(0.45, 0, 1, 1) infinite;
            -moz-animation: cssload-width 3.45s cubic-bezier(0.45, 0, 1, 1) infinite;
    }

    .progress-shadow {
        height: 4em;
        position: absolute;
        top: 100%;
        width: 100%;
        transform: skew(45deg);
            -o-transform: skew(45deg);
            -ms-transform: skew(45deg);
            -webkit-transform: skew(45deg);
            -moz-transform: skew(45deg);
        transform-origin: 0 0;
            -o-transform-origin: 0 0;
            -ms-transform-origin: 0 0;
            -webkit-transform-origin: 0 0;
            -moz-transform-origin: 0 0;
        background-image: linear-gradient(to bottom, #eeeeee, transparent);
            background-image: -o-linear-gradient(to bottom, #eeeeee, transparent);
            background-image: -ms-linear-gradient(to bottom, #eeeeee, transparent);
            background-image: -webkit-linear-gradient(to bottom, #eeeeee, transparent);
            background-image: -moz-linear-gradient(to bottom, #eeeeee, transparent);
    }
    
    
    
    @keyframes cssload-width {
        0%, 100% {
            transition-timing-function: cubic-bezier(1, 0, 0.65, 0.85);
        }
        0% {
            width: 0;
        }
        100% {
            width: 100%;
        }
    }
    
    @-o-keyframes cssload-width {
        0%, 100% {
            -o-transition-timing-function: cubic-bezier(1, 0, 0.65, 0.85);
        }
        0% {
            width: 0;
        }
        100% {
            width: 100%;
        }
    }
    
    @-ms-keyframes cssload-width {
        0%, 100% {
            -ms-transition-timing-function: cubic-bezier(1, 0, 0.65, 0.85);
        }
        0% {
            width: 0;
        }
        100% {
            width: 100%;
        }
    }
    
    @-webkit-keyframes cssload-width {
        0%, 100% {
            -webkit-transition-timing-function: cubic-bezier(1, 0, 0.65, 0.85);
        }
        0% {
            width: 0;
        }
        100% {
            width: 100%;
        }
    }
    
    @-moz-keyframes cssload-width {
        0%, 100% {
            -moz-transition-timing-function: cubic-bezier(1, 0, 0.65, 0.85);
        }
        0% {
            width: 0;
        }
        100% {
            width: 100%;
        }
    }
}

.condition-form {
    & > div {
        padding: 0 5px 0 0 !important;
    }

    select {
        padding: 2px 0 !important;
    }

    .btn-text {
        padding: 0;
        margin: 0;
        font-size: 16px;
        line-height: 1;
    }

    &.delete {
        display: none;
    }
}

.arbitrary {
    width: 100%;
    border: 1px solid $black;
    resize: none;
    border-radius: 5px;
    padding: 5px;

    &[disabled="disabled"] {
        opacity: 0.2;
    }
}